.container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin:0 auto;
    position:relative;
    top:120px; 
    margin-bottom: 40px;  
}