.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin:0 auto;
    position:relative;
    top:120px; 
    margin-bottom: 160px;  
}

.title{
    color:var(--main-color);
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    margin-bottom: 12px;
}