.container{
    /* background-color: rgb(238, 238, 238); */
    display:flex;
    /* flex-direction: row; */
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 90vw;
    margin:0 auto;
    position:relative;
    top:120px; 
    margin-bottom: 140px;  
}

.title{
    color:var(--green);
    /* display:absolute; */
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 20px; /*borrar despues*/
}