.container{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    height: 9.5vh;
    padding: 0;
    position: fixed;
    z-index: 2;
    width:100%;
}

.navContainer{
    width:90vw;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content:space-between;
    padding-bottom: 18px;
}

/********** logotype **********/

.logotype{
    width:160px;
}

/********** categories **********/

.nav__categories{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 0 10px;
    list-style: none;
}

.nav__categoriesLinks{
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
}

/********** queries **********/

@media (max-width: 1024px){

}

@media (max-width: 768px){

}

@media (max-width: 480px){
    
    /********** logotype **********/
    
    .logotype{
        width:80px;
    }
    
    /********** categories **********/

    .nav__categoriesLinks{
        font-size: 0.6rem;
        padding-left: 15px;
    }

}