.container{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    height: 9.5vh;
    padding: 0;
    position: fixed;
    z-index: 2;
    width:100%;
}

.navBar{
    width:90vw;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content:space-between;
    padding-bottom: 18px;
}

/********** logotype **********/

.navBar__logo{
    width:160px;
}

/********** links menu **********/

.navBar__links{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 0 10px;
    list-style: none;
}

.navBar__links a{
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
}

.navBar .mobileNavigation{
    display:none;
    background-color: aqua;
}

/********** queries **********/

@media (max-width: 1024px){

}

@media (max-width: 768px){

    .navBar .navigation{
        display:none;
    }

    /********** mobile menu **********/

    .navBar .mobileNavigation{
        display:flex;
        align-items: flex-end;
    }

    .navBar .mobileNavigation .navBar__links{
        background-color: var(--main-color);
        border-top: 1px solid var(--green);
        display: flex;
        flex-direction: column;
        list-style: none;
        position:absolute;
        top:9.5vh;
        right:0;
        width: 100%;
    }

    .navBar .mobileNavigation .navBar__links li{
        padding: 20px 0px 25px 30px;
    }

    .navBar .mobileNavigation .burguer{
        position: absolute;
        right: 5%;
        bottom: 13px;
        cursor: pointer;
    }

}

@media (max-width: 480px){
    
    /********** logotype **********/
    
    .navBar__logo{
        width:80px;
    }
    
    /********** links menu **********/

}