@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Poppins:wght@600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0px;
  font-size: 16px;
}

:root{
    --main-color: #252525;
    --blue: #032B44;
    --pink: #FF4197;
    --green: #04D89D;
    --lightGreen: #d3f7ec;
    --yellow: #FDC800;
    --grey: #F2F2F2;
}



