
.container{
    display:flex;
    flex-direction: column;
    align-self: flex-start;
    width:40%;
}

.countContainer{
    background-color: var(--lightGreen);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    margin-bottom: 8px;
}

/********** buttons ***********/

.cart__button{
    border: none;
    background-color: var(--green);
    border-radius: 25px;
    cursor: pointer;
    padding: 6px 10px 8px 10px;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
}

.cartSum__button{
    border: none;
    background-color: var(--green);
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
}

.cartSum__button:disabled{
    background-color: var(--lightGreen);
    color:var(--green);
}


/********** queries **********/

@media (max-width: 1024px){

    .container{
        width:50%;
    }   
}

@media (max-width: 768px){
    
    .container{
        display:flex;
        flex-direction: row;
        align-self: flex-start;
        width:100%;
        margin-bottom: 5px;
    }

    .countContainer{
        margin-right: 5px;
        margin-bottom: 0px;
        width: 25%;
    }

    /********** buttons ***********/

    .cart__button{
        width: 35%;
    }
 
}

@media (max-width: 480px){

    .countContainer{
        width: 40%;
    }

    /********** buttons ***********/

    .cart__button{
        width: 60%;
    }
}